.post--layout {
  max-width: 1660px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  /* fit as many columns as possible, 180px wide each: */
  grid-template-columns: repeat(auto-fill, 800px);
  /* each row is 20px high -- we always span 2+ */
  grid-auto-rows: minmax(20px, auto);
  justify-content: center;	
}

.post h2 {
	margin-bottom: 0;
}

.post > .post--card {
	height: 300px;
}

.post--card {
	transition: var(--cardTransition);
}

.post--card:hover {
	box-shadow: var(--cardShadow);
}

.post--card h3, h5 {
	margin: 0;
}

.post button {
	margin: 2px 28px 2px 26px;
}

.post button:hover {
	margin: 0 26px 0 26px;
}

.post > div {
	margin-bottom: 3rem;
	align-items: flex-end;
}

.post img {
	max-height: 200px;
	margin: 0;
}

.post .grid {
    grid-template-columns: 300px auto;
    grid-gap: 20px;
}
